
<rally-name-header name="Call"></rally-name-header>

<ion-row padding class="bordered fixed-panel">
    <ion-col col-8>
        <p class="gray">Calling this office</p>
        <h3>{{rep.name}}</h3>
        <p class="gray">
            <ion-icon name="ios-call-outline" style="color: #f4512c;
            font-size: 18px;"></ion-icon> {{rep.phone}}</p>
    </ion-col>
    <ion-col col-4>
        <div class="bob-headshot" [ngStyle]="{ 'background-image' : 'url(' + rep.photo_url +')'}"></div>
    </ion-col>
    <ion-col col-12 >
        <span *ngIf="isRep">This is your local representative in the House</span>
        <span *ngIf="!isRep">This is one of your two US Senators</span>
    </ion-col>
   
</ion-row>

<ion-content>
    <ion-row padding>
        <ion-list>
            <ion-list-header style="border: none; padding-left: 0;">Talking Points</ion-list-header>
            <p>Hello, my name is {{user.displayName}} and I am calling from {{rep.address_city
            }} to urge <span *ngIf="isRep">Representative {{rep.last_name}}e</span> <span *ngIf="!isRep">Senator {{rep.last_name}}</span> to [vote for or against a bill, speak out on an issue, etc.].</p>

            <p>Thank you for your time. I will follow up soon to see what <span *ngIf="isRep">Representative {{rep.last_name}}e</span> <span *ngIf="!isRep">Senator {{rep.last_name}}</span> has done about this important issue.</p>
           
        </ion-list>
    </ion-row>
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col col-12>
            <button class="large-blue-button" (click)="makeCall(rep.phone)" >
                <img src="assets/img/phone.svg" alt="">
                <div class="button-inner">
                    Call Now
                </div>
            </button>
        </ion-col>
        <ion-col col-12 *ngIf="phoneArr.length">
            <button class="large-white-button" (click)="callOffices()">
                <div class="special-btn">
                    Try Another Office
                </div>
            </button>
        </ion-col>
        <ion-col col-12>
            <button class="large-white-button" (click)="giveFeedBack()">
                <div class="special-btn">
                    I'm Done
                </div>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>