page-interested-organizations {
    .scroll-content{
        margin-top: 180px !important;
    }
    h1{
        font-weight: 900;
        font-size: 22px !important;
    }
    p{
        font-size: 16px;
    }
    ion-header{
        padding-bottom: 0 !important;
    }
    .header-md::after, .header-ios::after{
        background: none !important;
    }
    ion-list{
        ion-item{
            ion-label{
                h1{
                    font-weight: 900 !important;
                    font-size: 18px !important;
                }
            }
        }
       
    }

    ion-footer{
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
        padding-right: 20px;
        padding-bottom: 20px;
        button{
            height: 50px !important;
            padding: 10px 30px !important;
            border-radius: 8px !important;
        }
    }

    .footer-md::before, .footer-ios::before{
        display: none;
    }
    .item-ios ion-avatar ion-img,
    .item-ios ion-avatar img {
        width: 60px;
        height: 60px;
        border: 2px solid #b6b6b6;
        min-width: 60px;
    }
    .description {
        white-space: initial;
    }

    //.description {
    //    overflow: hidden;
    //    position: relative;
    //    line-height: 1.2em;
    //    max-height: 3.6em;
    //    text-align: justify;
    //    margin-right: -1em;
    //    padding-right: 1em;
    //}
    //.description:before {
    //    content: '...';
    //    position: absolute;
    //    right: 12px;
    //    bottom: 0;
    //    background-color: #fff;
    //}
    //.description:after {
    //    content: '';
    //    position: absolute;
    //    right: 12px;
    //    width: 1em;
    //    height: 1em;
    //    margin-top: 0.2em;
    //    background: white;
    //}
    .label-ios {
        margin-right: 0;
        padding-right: 12px;
    }
    ion-item {
        padding-left: 0!important;
    }
    ion-avatar {
        margin-top: 0!important;
    }
    .input-wrapper {
        ion-label {
            align-items: flex-start!important;
        }
    }
    .scroll-content {
        .item-inner {
            align-items: flex-start;
        }
        ion-label {
            padding-right: 0;
        }
    }
    .item-inner {
        padding-right: 0!important;
    }
}
.org-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    ion-checkbox {
        margin-top: 0!important;
        margin-bottom: 2px!important;
    }
}
.org-text-box {
    width: 100%;
}