rally-header {
  ion-item {
    padding-left: 0!important;
  }
  .item-inner {
    padding-right: 0!important;
  }

  background: #fff !important;
  .rally-search {
    .spinner-container {
      width: 100%;
      text-align: center;
      padding: 10px;
    }
  }

  .toolbar-background {
    background: #f4512c !important;
    //max-height: 50px !important;
  }

  .results-content {
    background: #fff !important;

    z-index: 9999;
    top: 60px;

    .scroll-content {
      margin-top: 0 !important;
    }
  }

  .list-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
  }

}

.swipeable-segment {
  ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow-x: scroll;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
    //-webkit-overflow-scrolling: touch;
    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 60px;
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.searchbar-input {
  border-radius: 20px !important;
  padding: 2px 55px !important;
  background-color: #be3d0f !important;
  box-shadow: none !important;
}

.searchbar-ios-cancel {
  color: white;
}

.searchbar-input::placeholder, .searchbar-search-icon, .searchbar-ios .searchbar-search-icon {
  color: #fff!important;
}

.flex-center {
  width: 100%;
  text-align: center;
  padding: 15px 0;

  h2 {
    font-size: 20px;
  }
}

.search-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  bottom: 40px;
  font-size: 60px;
}

.rally-search {
  padding-left: 10px!important;
  padding-right: 10px!important;
}