<ion-header>
    <ion-navbar>
        <form action="." (ngSubmit)="onSearchInput()">

            <ion-searchbar (ionInput)="onSearchInput()"
                           no-padding
                           class="rally-search"
                           name="searchField"
                           [debounce]="800"
                           [(ngModel)]="searchTerm"
                           [showCancelButton]="shouldShowCancel"
                           (ionCancel)="cancel()"
            ></ion-searchbar>
        </form>

    </ion-navbar>
</ion-header>

<ion-content *ngIf="!searching">
    <div class="search-icon-wrapper">
        <ion-icon name="search"></ion-icon>
    </div>
</ion-content>

<ion-content *ngIf="searching" class="results-content" padding>
    <!-- <div class="spinner-container">
        <ion-spinner></ion-spinner>
    </div> -->

    <div padding>
        <div class="swipeable-segment">
            <ion-segment [(ngModel)]="results">
                <ion-segment-button [ngClass]="{'segment-activated': (currentTabName === 'all')}"
                                    value="all"
                                    (ionSelect)="currentTabName = 'all'">
                    All
                </ion-segment-button>

                <ion-segment-button [ngClass]="{'segment-activated': (currentTabName === 'actions')}"
                                    value="actions"
                                    (ionSelect)="currentTabName = 'actions'">
                    Actions
                </ion-segment-button>

                <ion-segment-button [ngClass]="{'segment-activated': (currentTabName === 'people')}"
                                    value="people"
                                    (ionSelect)="currentTabName = 'people'">
                    People
                </ion-segment-button>

                <ion-segment-button [ngClass]="{'segment-activated': (currentTabName === 'organizations')}"
                                    value="organizations"
                                    (ionSelect)="currentTabName = 'organizations'">
                    Organizations
                </ion-segment-button>

                <ion-segment-button [ngClass]="{'segment-activated': (currentTabName === 'events')}"
                                    value="events"
                                    (ionSelect)="currentTabName = 'events'">
                    Events
                </ion-segment-button>

                <ion-segment-button [ngClass]="{'segment-activated': (currentTabName === 'reps')}"
                                    value="reps"
                                    (ionSelect)="currentTabName = 'reps'">
                    Representatives
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>

    <div>
        <div class="timeline-wrapper" *ngIf="enablePlaceholder">
            <div class="timeline-item short" *ngFor="let item of [1,2,3,4,5]">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                </div>
            </div>
        </div>

        <ion-list>
            <div *ngIf="currentTabName === 'all'">
                <div class="flex-center"
                     *ngIf="!actions.length && !users.length && !organizations.length && !reps.length && !events.length && !enablePlaceholder">
                    <p>Sorry, no results matched your criteria</p>
                </div>
            </div>

            <div *ngIf="currentTabName === 'actions' || currentTabName === 'all'">
                <div class="flex-center" *ngIf="!actions.length && currentTabName !== 'all' && !enablePlaceholder">
                    <p>Sorry, no results matched your criteria</p>
                </div>
                <div *ngIf="actions.length > 0">
                    <ion-item>
                        <p class="list-title">Results for {{searchTerm}} in actions</p>
                    </ion-item>

                    <ion-item *ngFor="let action of actions">
                        <!--<ion-avatar item-start (click)="goToPublicProfile(user.id)">-->
                        <!--<img [src]="user.photo_url ? user.photo_url : testPhoto" style="width: 70px; height: 70px;">-->
                        <!--</ion-avatar>-->
                        <!--<button (click)="goToPublicProfile(user.id)" style="background: none;"><h2>{{user.name}}</h2>-->
                        <!--</button>-->

                    </ion-item>
                </div>
            </div>

            <div *ngIf="currentTabName === 'people' || currentTabName === 'all'">
                <div class="flex-center" *ngIf="!users.length && currentTabName !== 'all' && !enablePlaceholder">
                    <p>Sorry, no results matched your criteria</p>
                </div>
                <div *ngIf="users.length > 0">
                    <ion-item>
                        <p class="list-title">Results for {{searchTerm}} in users</p>
                    </ion-item>

                    <ion-item *ngFor="let user of users">
                        <ion-avatar item-start (click)="goToPublicProfile(user.id)">
                            <img [src]="user.photo_url ? user.photo_url : testPhoto" style="width: 70px; height: 70px;">
                        </ion-avatar>
                        <button (click)="goToPublicProfile(user.id)" style="background: none;"><h2>{{user.name}}</h2>
                        </button>

                    </ion-item>
                </div>
            </div>

            <div *ngIf="currentTabName === 'organizations' || currentTabName === 'all'">
                <div class="flex-center"
                     *ngIf="!organizations.length && currentTabName !== 'all' && !enablePlaceholder">
                    <p>Sorry, no results matched your criteria</p>
                </div>
                <div *ngIf="organizations.length > 0">
                    <ion-item>
                        <p class="list-title">Results for {{searchTerm}} in Organizations</p>
                    </ion-item>

                    <ion-item *ngFor="let organization of organizations">
                        <ion-avatar item-start (click)="goToOrganizationProfile(organization.id)">
                            <img src="{{organization.image_url}}" style="width: 70px; height: 70px;">
                        </ion-avatar>

                        <h2 text-wrap (click)="goToOrganizationProfile(organization.id)">{{organization.name}}</h2>
                        <main-button clear
                                     item-end
                                     class="blue"
                                     (click)="addFollowRecordFirebase(organization.id, $event)"
                                     btnText="{{organization.followers == currentRallyID ? 'Following' : 'Follow'}}"></main-button>
                        <!--<p>{{organization.short_desc}}</p>-->

                    </ion-item>
                </div>
            </div>


            <div *ngIf="currentTabName === 'events' || currentTabName === 'all'">
                <div class="flex-center" *ngIf="!events.length && currentTabName !== 'all' && !enablePlaceholder">
                    <p>Sorry, no results matched your criteria</p>
                </div>

                <div *ngIf="events.length > 0">
                    <ion-item>
                        <p class="list-title">Results for {{searchTerm}} in Events</p>
                    </ion-item>

                    <ion-item *ngFor="let event of events">
                        <ion-avatar item-start (click)="goToEventDetail(event.id)">
                            <img src="{{event.image_url}}" style="width: 70px; height: 70px;">
                        </ion-avatar>
                        <button (click)="goToEventDetail(event.id)" style="background: none;"><h2 text-wrap>
                            {{event.title}}</h2></button>
                    </ion-item>
                </div>
            </div>

            <div *ngIf="currentTabName === 'reps' || currentTabName === 'all'">
                <div class="flex-center" *ngIf="!reps.length && currentTabName !== 'all' && !enablePlaceholder">
                    <p>Sorry, no results matched your criteria</p>
                </div>
                <div *ngIf="reps.length > 0">
                    <ion-item>
                        <p class="list-title">Results for {{searchTerm}} in Representatives</p>
                    </ion-item>

                    <ion-item *ngFor="let rep of reps">
                        <ion-avatar item-start (click)="goToRepProfile(rep.id)">
                            <img src="{{rep.photo_url}}" style="width: 70px; height: 70px;">
                        </ion-avatar>

                        <h2 (click)="goToRepProfile(rep.id)" text-wrap>{{rep.name}}</h2>
                        <p class="text-wrap" *ngIf="rep.rep_type === 'sen'">
                            <small>US Senator for {{rep.state}}</small>
                        </p>
                        <p class="text-wrap" *ngIf="rep.rep_type === 'rep'">
                            <small>US Representative for {{rep.state}}</small>
                        </p>

                        <main-button clear item-end *ngIf="rep.twitter_id !== 'not available'"
                                     (click)="followRep(rep.id, $event)" class="blue"
                                     btnText="{{rep.followers == currentRallyID ? 'Following' : 'Follow'}}"></main-button>
                    </ion-item>
                </div>
            </div>
        </ion-list>
    </div>

</ion-content>
