page-search {
    ion-content{
        top: 45px;
        height: calc(100vh - 45px);
    }
    .item-ios {
        ion-avatar {
            img {
                border: 2px solid #b6b6b6;
            }
        }
    }
}
