<div class="autocomplete-box">
  <ion-searchbar (ionInput)="onSearchInput()"
                 [(ngModel)]="searchTerm"
                 [name]="place"
                 [placeholder]="showPlaceholder"
                 [showCancelButton]="true"
                 [debounce]="800"
                 (ionCancel)="cancel()"></ion-searchbar>
</div>

<div class="places-box" *ngIf="displayPlaces">
  <p class="place-row"
     *ngFor="let place of places"
     (click)="selectPlace(place.description)">{{place.description}}</p>
  <div style="margin: 10px 0">
    <img width="170" height="17" src="assets/img/powered_by_google_on_white.png" />
  </div>
</div>
<h3 *ngIf="noResults" class="no-results-message">No results</h3>
