<ion-header>
    <ion-navbar>
        <ion-title>
            <p class="white">Find Organizations</p>
        </ion-title>
    </ion-navbar>

    <ion-searchbar (ionInput)="onSearchInput()"
                   [(ngModel)]="searchTerm"
                   [formControl]="searchControl"
                   [showCancelButton]="true"
                   [debounce]="800"
                   (ionCancel)="cancel()"></ion-searchbar>
</ion-header>

<ion-content class="fixed-search-bar">
    <ion-list>
        <div class="timeline-wrapper" *ngIf="enablePlaceholder">
            <div class="timeline-item short" *ngFor="let item of [1,2,3,4,5]">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                </div>
            </div>
        </div>

        <ion-item-group *ngFor="let group of groupedItems">
            <ion-item-divider light>{{group.letter}}</ion-item-divider>
            <ion-item *ngFor="let organization of group.data">
                <ion-avatar item-start (click)="goToOrganizationProfile(organization.id)">
                    <img [src]="organization.image_url ? organization.image_url : testPhoto" style="border:2px solid #ada8a8;">
                </ion-avatar>
                <h2 text-wrap (click)="goToOrganizationProfile(organization.id)">{{organization.name}}</h2>
                <main-button clear item-end class="blue" (click)="addFollowRecordFirebase(organization.id, $event)" btnText={{findInLoop(organization.followers)}}></main-button>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)"
                         *ngIf="enableInfiniteScroll"
                         threshold="500px">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content> 